In [1]:
!pip install mysql-connector

Defaulting to user installation because normal site-packages is not writeable
Collecting mysql-connector
  Downloading mysql-connector-2.2.9.tar.gz (11.9 MB)
Building wheels for collected packages: mysql-connector
  Building wheel for mysql-connector (setup.py): started
  Building wheel for mysql-connector (setup.py): finished with status 'done'
  Created wheel for mysql-connector: filename=mysql_connector-2.2.9-cp39-cp39-win_amd64.whl size=247961 sha256=9df10fdcb0bfca05701b9d3b290e08fed8fa87d2d7a6aa1b89297fba892320c0
  Stored in directory: c:\users\dell\appdata\local\pip\cache\wheels\7b\14\39\5aad423666e827dfe9a1fbcd111ac17171e7c9865d570780ce
Successfully built mysql-connector
Installing collected packages: mysql-connector
Successfully installed mysql-connector-2.2.9

In [4]:
import mysql.connector
#importing database
database = mysql.connector.connect(
    host="localhost",
    user="root",
    password=""
)
db = database.cursor()

db.execute("CREATE DATABASE pythons")

DatabaseError: 1007 (HY000): Can't create database 'pythons'; database exists

In [6]:
import mysql.connector
#importing database
database = mysql.connector.connect(
    host="localhost",
    user="root",
    password="",
   database = "pythonclass5pm"
)
db = database.cursor()

In [7]:
db.execute("SELECT * FROM student")
result =db.fetchall()
for x in result:
    print(x)

(1, 'ram', 80, 78, 98, 75, 88, 555, 88.0, 'A')
(2, 'hari', 90, 78, 98, 85, 88, 555, 88.0, 'A+')
(3, 'ghaman', 55, 75, 89, 78, 76, 666, 0.0, 'B')
(4, 'ramesh', 50, 55, 65, 45, 65, 555, 88.0, 'B')

In [11]:
db.execute("SELECT sn,name,total,per,grade FROM student")
result =db.fetchall()
for x in result:
    print(x)

(1, 'ram', 555, 88.0, 'A')
(2, 'hari', 555, 88.0, 'A+')
(3, 'ghaman', 666, 0.0, 'B')
(4, 'ramesh', 555, 88.0, 'B')

In [17]:
db.execute("SELECT * FROM student WHERE grade='B'" )
result =db.fetchall()
for x in result:
    print(x)

(3, 'ghaman', 55, 75, 89, 78, 76, 666, 0.0, 'B')
(4, 'ramesh', 50, 55, 65, 45, 65, 555, 88.0, 'B')

In [22]:
sql='''INSERT INTO student (sn, name, phy, chemistry, nepali, math, english, total, per, grade)  
VALUES (7, 'rakesh', 80, 75, 98, 78, 88, 555, 88, 'A')'''
db.execute(sql)
database.commit()

In [23]:
#  WAp to input values and save in database

In [24]:
sql = "DELETE FROM student WHERE name = 'ram'"
db.execute(sql)
database.commit()

In [26]:
sql = "UPDATE student SET name='laxman' WHERE name = 'hari'"
db.execute(sql)
database.commit()